$m-width: 28px;
$m-height: 21px;
$m-line: 2px;
$color-off: #666;
$color-on: #000;
.nav-icon {
	width: $m-width;
	height: $m-height;
	cursor: pointer;
	position: relative;
	span {
		display: block;
		position: absolute;
		height: $m-line;
		font-size:1px;
		line-height:1;
		width: $m-width;
		background: $color-off;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition:all .25s ease-in-out;
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: $m-height / 2 - $m-line / 2;
		}
		&:nth-child(3) {
			top: $m-height - $m-line;
		}
	}
	&.open {
		span {
			background:$color-on;
		}
		span:nth-child(1) {
			top:$m-width / 2 - $m-line / 2;
			transform: rotate(135deg);
		}
		span:nth-child(2) {
			opacity: 0;
		}
		span:nth-child(3) {
			top: $m-width / 2 - $m-line / 2;
			transform: rotate(-135deg);
		}
	}
}

/**

html:

<a href="javascript:;" class="nav-icon"><span></span><span></span><span></span></a>

*/
