#nav-icon {
		width: 42px;
		height: 25px;
		cursor: pointer;
		display:inline-block;
		position: relative;
		span {
			display: block;
			position: absolute;
			height: 3px;
			font-size:1px;
			line-height:1;
			width: 42px;
			background: #D8D8D8;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition:all .25s ease-in-out;
			&:nth-child(1) {
				top: 0;
			}
			&:nth-child(2) {
				top: 11px;
			}
			&:nth-child(3) {
				top: 22px;
			}
		}
		&.open {
			span {
				background:#fff;
			}
			span:nth-child(1) {
				top:15px;
				transform: rotate(135deg);
			}
			span:nth-child(2) {
				opacity: 0;
			}
			span:nth-child(3) {
				top: 15px;
				transform: rotate(-135deg);
			}
		}
}
