@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 4, $bgColor: white){
	overflow: hidden;
	display:block;
	position: relative;
	line-height: $lineHeight;
	max-height: $lineHeight * $lineCount;
	text-align: justify;
	margin-right: -1em;
	padding-right: 1em;
	hyphens: auto;
	&:before {
		content: '...';
		position: absolute;
		right: 0;
		bottom: 0;
	}
	&:after {
		content: '';
		position: absolute;
		right: 0;
		width: 1em;
		height: 1em;
		margin-top: 0.3em;
		background: $bgColor;
	}
}
